@font-face { font-family: 'Libel Suit'; src: url('../assets/fonts/libel-suit-rg.otf') format('opentype'); }
@font-face { font-family: 'Alte Regular'; src: url('../assets/fonts/AlteHaasGroteskRegular.ttf') format('truetype'); }
@font-face { font-family: 'Alte Bold'; src: url('../assets/fonts/AlteHaasGroteskBold.ttf') format('truetype'); }
@font-face { font-family: 'Gontserrat Regular'; src: url('../assets/fonts/Gontserrat-Regular.ttf') format('truetype'); }

:root {
    --font-family: 'Gontserrat Regular';
    --spacing: 0.25rem;
}

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #d81b60;
    --primary-hover: #c2185b;
    --primary-focus: rgba(216, 27, 96, 0.125);
    --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #d81b60;
        --primary-hover: #e91e63;
        --primary-focus: rgba(216, 27, 96, 0.25);
        --primary-inverse: #FFF;
    }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #d81b60;
    --primary-hover: #e91e63;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #FFF;
}

/* Pink (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
}

/* Shared */
body {
    padding-inline: calc(var(--spacing) * 5);
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.content-center {
    align-content: center;
}

i {
    color: var(--primary);
}

i:hover {
    color: var(--primary-hover);
}

.mr-1 {
    margin-right: 1rem;
}

/* Index Page */
.image-outline {
    width: 50%;
    -webkit-filter: drop-shadow(1px 1px 0 #fff)
                    drop-shadow(-1px 1px 0 #fff)
                    drop-shadow(1px -1px 0 #fff)
                    drop-shadow(-1px -1px 0 #fff);

    filter: drop-shadow(1px 1px 0 #fff)
            drop-shadow(-1px 1px 0 #fff)
            drop-shadow(1px -1px 0 #fff)
            drop-shadow(-1px -1px 0 #fff);
}

strong {
    font-family: 'Libel Suit';
    font-size: 2.2rem;
}

/* Random Page */
button{
    width: fit-content;
    margin: 0 auto;
}

/* Docs Page */
pre, code {
    white-space: pre-line;
    padding-inline: calc(var(--spacing) * 5);
}

h1 { /**/
    --typography-spacing-vertical: 2rem;
}
  
h2 {/*87.5*/
    --typography-spacing-vertical: 1.75rem;
}
  
h3 {/*75*/
    --typography-spacing-vertical: 1.5rem;
}
  
h4 {/*62.5*/
    --typography-spacing-vertical: 1.25rem;
}
  
h5 {/*56.25*/
    --typography-spacing-vertical: 1.125rem;
}

/* Hamburger Menu */


/* Media Queries */
@media screen and (min-width: 576px) {
    .container {
        max-width: 1200px
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1200px
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1200px
    }
}